.gridparent1{
    border: 2px solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
}
.child{
    background-color: yellow;
    border: 2px solid blue;
    text-align: center;
    font-size: 35px;
}
.grid1{
    grid-column: 1/13;
}
.grid2{
    grid-column: 1/7;
}
.grid3{
    grid-column: 7/13;
}
.grid4{
    grid-column: 1/5;
}
.grid5{
    grid-column: 5/9;
}
.grid6{
    grid-column: 9/13;
}
.grid7{
    grid-column: 1/4;
}
.grid8{
    grid-column: 4/7;
}
.grid9{
    grid-column: 7/9;
}
.grid10{
    grid-column: 9/13;
}
.grid11{
    grid-column: 1/3;
}
.grid12{
    grid-column: 3/5;
}
.grid13{
    grid-column: 5/7;
}
.grid14{
    grid-column: 7/9;
}
.grid15{
    grid-column: 9/11;
}
.grid16{
    grid-column:11/13;
}